:root {
    --bg-color: #f4f4f9;
    --container-bg: #ffffff;
    --text-color: #333;
    --accent: #ef5350;
    --card-bg: #fffde7;
}

body.dark-mode {
    --bg-color: #121212;
    --container-bg: #1e1e1e;
    --text-color: #e0e0e0;
    --card-bg: #2d2d2d;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: var(--bg-color); 
    color: var(--text-color);
    display: flex; justify-content: center; padding: 20px; transition: 0.3s;
}

.container { 
    background: var(--container-bg); padding: 2rem; border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0,0,0,0.2); width: 100%; max-width: 600px; text-align: center; 
}

.header-actions { text-align: right; margin-bottom: 10px; }

.search-box { margin-bottom: 15px; }
input { 
    padding: 12px; width: 70%; border: 1px solid #ddd; border-radius: 8px; 
    margin-bottom: 10px; outline: none;
}

button { 
    padding: 10px 15px; border: none; border-radius: 8px; cursor: pointer; font-weight: bold; 
    transition: 0.2s; 
}

.btn-search { background: var(--accent); color: white; }
.btn-all { background: #3c5aa6; color: white; margin-left: 5px; }


.history-container { margin: 15px 0; display: flex; flex-wrap: wrap; justify-content: center; gap: 5px; }
.hist-btn { background: #e0e0e0; font-size: 0.75rem; border-radius: 20px; color: #333; }

.card { 
    background: var(--card-bg); border: 2px solid #ffcb05; padding: 20px; 
    border-radius: 12px; margin-top: 20px; animation: fadeIn 0.5s;
}
.card img { width: 150px; }
.type-badge { 
    background: #3c5aa6; color: white; padding: 4px 10px; border-radius: 5px; 
    margin: 3px; font-size: 0.8rem; display: inline-block;
}

.poke-grid { 
    display: grid; grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
    gap: 15px; list-style: none; padding: 0; margin-top: 20px; 
}

.mini-card { 
    background: var(--container-bg); border: 1px solid #ddd; padding: 10px; 
    border-radius: 10px; cursor: pointer; box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.mini-card:hover { transform: translateY(-3px); border-color: var(--accent); }
.mini-card img { width: 70px; }
.mini-card h4 { margin: 5px 0; text-transform: capitalize; font-size: 0.9rem; }

@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }